appsettings.json
appsettings.*.json
library.db
library.db-shm
library.db-wal
Migrations/
Backup/

bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
*.pdb
*.dll
*.exe
*.ide
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
*.swp
*.swo
*.DS_Store
node_modules/
dist/
.env
.env.local
.env.*.local
coverage/
.vscode/
.idea/
*.tsbuildinfo
.nuget/
packages/
*.nupkg